pipeline/Pl_IFCondition_Example.json
{
	"name": "Pl_IFCondition_Example",
	"properties": {
		"activities": [
			{
				"name": "ac_ListInputCSVFilesfromLanding_FileExist",
				"description": "This activity will get the files metadata ",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Files_Landing_CSV_ingest",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ac_ifFileExistsInLanding",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ac_ListInputCSVFilesfromLanding_FileExist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('ac_ListInputCSVFilesfromLanding_FileExist').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "delete Landing Files_copy1",
							"description": "This Delete activity will delete control files from Code share work folder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_DelimitedLanding",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "rvact/work/Delimited"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "userdata*"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ac_CopyFromLandingToRAWZone",
							"description": "This is to copy codeshare files to ADLS ",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": "Sureshwork/Delimeted File",
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Landing_List_CSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_RAW_CSV",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy  Delimited Data from Raw_Work",
							"description": "This is to copy codeshare files to ADLS ",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ac_CopyFromLandingToRAWZone",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "raw/Sureshwork/Delimited",
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_RAW_CSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_delimited_Work",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "delete Landing Files",
							"description": "This Delete activity will delete control files from Code share work folder",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy  Delimited Data from Raw_Work",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_DelimitedLanding",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "rvact/work/codeshare"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "userdata*"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Suresh Work/BA PHX Working Sessions/If Condition Activity"
		},
		"annotations": []
	}
}